# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry

# IDE / OS Files
.vscode/
.idea/
.DS_Store
*.swp
*.swo
Thumbs.db

# Secrets / Keys
*.pem
*.key
*.cer

# Miscellaneous
dist/
build/
coverage/
.env
